@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// seems to be the same font throughout so gonna just work on that assumption for now
$font:"Roboto" ,"Sans-serif";

$main-color: #172093;
$secondary-color: #0DE7D2;
$background-color: #fafafa;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    color: $main-color;
}
a:link,
a:visited {
    text-decoration: none;
}