nav {
    height: 10vh;
    background-color: $background-color;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button {
    display: block;
    width: 100px;
    background-color: $main-color;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px red;
    color: $background-color;
}

.Login-button {
    display: block;
    width: 100px;
    background-color: $background-color;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px red;
    color: $main-color;
}

div {
    text-align: center;

    h1 {
        color: $color-primary;
        font-size: 50px;
    }
    h2 {
        font-family:$font-display ;
        font-size: 25px;
        margin: 20px 0;
    }
    a {
        margin:0 auto;

    }