* {
    margin: 10px 0;
}

nav {
    height: 10vh;
    background-color: $background-color;
    padding: 0 40px;
    display: flex;
}

.Login-button {
    display: block;
    width: 100px;
    background-color: $background-color;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px red;
    color: $main-color;
}


.button {
    display: block;
    width: 100px;
    background-color: $main-color;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px red;
    color: $background-color;
}

h1,h2 {
    display: block;
    width: fit-content;
    background-color: $background-color;
    text-align: center;
    padding: 10px 20px;
    color: $secondary-color;
}


