* {
    margin: 10px 0;
}

nav {
    height: 10vh;
    background-color: $background-color;
    padding: 0 40px;
    display: flex;
}

.Login {
    display: block;
    width: 100px;
    background-color: $background-color;
    text-align: center;
    padding: 10px 20px;
    margin: auto;
    border-radius: 10px ;
    color: $main-color;
}


.button {
    display: block;
    width: 100px;
    background-color: $main-color;
    text-align: center;
    padding: 10px 20px;
    color: $background-color;
}

h1,h2 {
    display: block;
    width: fit-content;
    background-color: $background-color;
    text-align: center;
    padding: 10px 20px;
    color: $secondary-color;
}

h3,h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16 {
    display: block;
    width: fit-content;
    background-color: $background-color;
    text-align: center;
    padding: 10px 20px;
    color: $main-color;
}

h5,h7,h9,h11 {
    font-size: 30px;
}

.peng2 {  
    width: 350px; 
    float: left; 
    margin-right: 10px;
} 