@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Sans-serif";
  color: #172093;
}

a:link,
a:visited {
  text-decoration: none;
}

* {
  margin: 10px 0;
}

nav {
  height: 10vh;
  background-color: #fafafa;
  padding: 0 40px;
  display: flex;
}

.Login {
  display: block;
  width: 100px;
  background-color: #fafafa;
  text-align: center;
  padding: 10px 20px;
  margin: auto;
  border-radius: 10px;
  color: #172093;
}

.button {
  display: block;
  width: 100px;
  background-color: #172093;
  text-align: center;
  padding: 10px 20px;
  color: #fafafa;
}

h1, h2 {
  display: block;
  width: fit-content;
  background-color: #fafafa;
  text-align: center;
  padding: 10px 20px;
  color: #0DE7D2;
}

h3, h4, h5, h6, h7, h8, h9, h10, h11, h12, h13, h14, h15, h16 {
  display: block;
  width: fit-content;
  background-color: #fafafa;
  text-align: center;
  padding: 10px 20px;
  color: #172093;
}

h5, h8, h9, h12 {
  font-size: 30px;
}

.peng2 {
  width: 350px;
  float: left;
  margin-right: 10px;
}

div {
  display: flex;
  flex-direction: row;
}

h13, h14, h15 {
  text-align: center;
}

* {
  max-width: 500px;
}

header {
  height: 25vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*=col-] {
    width: 100%;
  }
}